@model IEnumerable<IEXTrading.Models.Top>

<h2>Top</h2>
<hr />
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        width: auto;
        column-width: inherit;
        
    }
    th, td {
        padding: 1px;
        text-align: match-parent;
    }
    th {
        
        background-color: #ffd800;
        
    }
    td {
        background-color:aliceblue;
    }
</style>
<table class="table">
  
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Volume
            </th>
            <th>
                Market Percent
            </th>
            <th>
                Bid Price
            </th>
            <th>
                Ask Price
            </th>
            <th>
                Spread
            </th>
            <th>
                Last Sale Price
            </th>
            <th>
                Sector
            </th>
            <th>
                Security Type
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.volume)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marketPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bidPrice) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.askPrice)
            </td>
            <td>
                <!---->
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.lastSalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.securityType)
            </td>
        </tr>
        }
        <tr>
            <td>
                <a id="dbopt" asp-controller="Home" asp-action="SaveTops">
                <img src="~/images/button_save-data.png" /></a>
            </td>
        </tr>
    </tbody>
</table>
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>